<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <akka>
    <hocon>
      <![CDATA[
            akka {  
                actor{
                    provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
                    deployment {
                        /coordinator {
                            remote = "akka.tcp://DeployTarget@localhost:8090"
                        }
                        /cohort1 {
                            remote = "akka.tcp://DeployTarget@localhost:8090"
                        }
                        /cohort2 {
                            remote = "akka.tcp://DeployTarget@localhost:8090"
                        }
                        /cohort3 {
                            remote = "akka.tcp://DeployTarget@localhost:8090"
                        }
                        /cohort4 {
                            remote = "akka.tcp://DeployTarget@localhost:8090"
                        }
                        /cohort5 {
                            remote = "akka.tcp://DeployTarget@localhost:8090"
                        }
                        /cohort6 {
                            remote = "akka.tcp://DeployTarget@localhost:8090"
                        }
                    }
                }
                remote {
                    helios.tcp {
		                port = 0
		                hostname = localhost
                    }
                }
            }
        ]]>
    </hocon>
  </akka>
</configuration>